@charset 'utf-8';
.modify, .modify:hover, .modify:focus {
	color: #3bb4f2;
}
.delete, .delete:hover, .delete:focus {
	color: #dd514c;
}
.add, .add:hover, .add:focus {
	color: #1ABC9C;
}
#adtea_submit {
	text-align: right;
}

#load {
	min-width:100%; 
	min-height:100%; 
	background: url(../../images/loading.gif) no-repeat center center;
	background-size: 64px 64px;
	background-color:#000;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5; 
	overflow-x: hidden;
	overflow-y: auto;
	position:fixed; 
	left:0px; 
	top:0px; 
	display:none; 
	z-index:1000;  
}
.pagination>li {
	float: left;
	display: block;
} 
.input {
	padding-left: 0;
}
.input-group.date {
	padding-right: 15px;
}
.form-horizontal .control-label {
	text-align: center;
}

.panel-footer {
	background-color: #fff;
}

.btn-group-xs>.btn .badge, .btn-xs .badge {
	top: -2px;
}

.container.bs-example.distri:after {
    content: '分配情况';
}